.header {
    position: relative;
    border-bottom: 1px solid #ececec;
}

.header-container {
    position: relative;
    width: 1200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.header .ds-logo {
    position: absolute;
    background-image: url(../image/logo-dynamsoft-160x40.svg);
    left: 37px;
    top: 15px;
    width: 120px;
    height: 30px;
}

.header .sy-name {
    position: absolute;
    font: 16px bold;
    left: 176px;
    top: 23px;
    color: #323232;
}

.main {
    position: relative;
    background: #F5F5F5;
}

.main-container {
    position: relative;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.left-bar {
    position: relative;
    width: 240px;
    height: 100vh;
    border: 1px solid #ececec;
    background: #ffffff;
}

.left-bar .linkImage {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 16px;
    background-image: url(../image/testIcon.svg);
}

.left-bar a:link {
    text-decoration: none;
    color: #606060;
}

.left-bar a:visited {
    color: #606060;
}

.left-bar a:hover {
    color: #f89c34;
}

.left-bar a:active {
    color: #f89c34;
}

.left-bar ul .lb-title {
    position: relative;
    font-size: 14px;
    margin: 50px 0 24px 38px;
}

.left-bar ul li {
    position: relative;
    font-size: 14px;
    margin: 0 0 20px 38px;
}

.basic-main {
    position: relative;
    width: 960px;
    height: 100vh;
    background: #F5F5F5;
}

.bm-header {
    height: 70px;
    width: 960px;
    font: 18px bold;
    background: #fafafa;
    border: 1px solid #ececec;
}

.bm-header .bm-title {
    margin-left: 32px;
    line-height: 70px;
    color: #323232;
}

.bm-content {
    margin: 32px 0 0 32px;
    width: 896px;
    height: 465px;
    border: 1px solid #ececec;
    background: #FFFFFF;
}

.license-overview-count {
    height: 70px;
    border: 1px solid #ececec;
    font: 16px bold;
    color: #323232;
    line-height: 70px;
}

.lo-total {
    margin-left: 20px;
}

.license-overview-form {
    margin: 15px 20px 0 20px;
    width: 856px;
}

.license-overview-form td {
    padding: 20px 96px 20px 0;
    border-bottom: 1px solid #d9d9d9;
    font-size: 12px;
    color: #444444;
}

.lo-form-head td {
    color: #888888;
    padding-bottom: 10px;
}

.page-control {
    height: 75px;
    line-height: 70px;
}

.page-control .pc-page {
    margin-left: 640px;
    height: 30px;
    width: 60px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    color: #dddddd;
    text-align: center;
    font-size: 13px;
}

.page-control .pc-go {
    height: 30px;
    width: 30px;
    color: #333333;
    background: #eeeeee;
    border-radius: 3px;
    border: 1px solid #dddddd;
}

.page-control .pc-back {
    margin: 0 10px 0 30px;
    height: 26px;
    width: 26px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    background: #ffffff;
}

.page-control .pc-next {
    margin-left: 10px;
    height: 26px;
    width: 26px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    background: #ffffff;
}

.register-devices-count {
    height: 70px;
    border: 1px solid #ececec;
    font: 16px bold;
    color: #323232;
    line-height: 70px;
}

.rd-total {
    margin-left: 20px;
}

.rd-filter{
    margin: 0 10px 0 245px;
    font-size: 14px;
}

.rd-product {
    position: relative;
    display: inline-block;
    vertical-align: text-top;
    padding: 0 0 0 8px;
    width: 225px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #dddddd;
    background: #EEEEEE;
    color: #888888;
    line-height: 30px;
}

.rd-drop-button {
    height: 30px;
}

.rd-drop-button{
    position: relative;
    text-align: start;
}

.rd-drop-button:after{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 0;
    height: 0;
    content: '';
    border: 6px solid transparent;
    border-top-color: #606060;
}

.rd-drop-list{
    display: none;
    background: #EEEEEE;
}

.rd-drop-list li {
    height: 30px;
}

.rd-drop-list li:hover{
    background: #BBBBBB;
}

.rd-product:hover .rd-drop-list{
    display: block;
}

.rd-product:hover .rd-drop-button:after{
    top: 5px;
    border: 6px solid transparent;
    border-bottom-color: #606060;
}










