.header {
    position: relative;
    border-bottom: 1px solid #DDDDDD;
}

.white-btn {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #aaaaaa;
    border-radius: 3px;
    padding: 9px 25px;
    background: #ffffff;
    color: #444444;
    font-size: 14px;
    text-align: center;
}

.yellow-btn {
    display: inline-block;
    vertical-align: middle;
    height: 36px;
    border: 1px solid #ffae38;
    border-radius: 3px;
    padding: 10px 25px;
    background: #ffae38;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

.title-note {
    margin-left: 20px;
    font-size: 18px;
    color: #323232;
}

.form {
    width: 100%;
}

.form td {
    font-size: 14px;
    color: #444444;
    border-bottom: 1px solid #d9d9d9;
    padding: 18px 0;
    text-align: left;
}

.form-head td {
    padding-bottom: 10px;
    color: #888888;
}

.card {
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    font-size: 14px;
    color: #888888;
    background: #f5f5f5;
}

.notice-bulb {
    display: inline-block;
    margin: 12px 0 0 12px;
    background-image: url(../image/lightbulb.svg);
    height: 20px;
    width: 20px;
}

.card .paragraph {
    display: inline-block;
    vertical-align: top;
    margin: 12px 0 0 10px;
    line-height: 20px;
}

.info {
    padding-top: 15px;
}

.info span {
    display: inline-block;
    width: 115px;
    font-size: 16px;
    color: #606060;
}

.info input {
    padding: 8px 0 8px 18px;
    border-radius: 3px;
    border: 1px solid #DDDDDD;
    color: #999999;
    font-size: 14px;
}

.check-enable {
    display: inline-block;
    vertical-align: top;
    height: 210px;
    width: 260px;
    border-radius: 8px;
    background: #ecf6ff;
    color: #258EFB;
}

.check-disable {
    display: inline-block;
    vertical-align: top;
    height: 210px;
    width: 260px;
    border-radius: 8px;
    background: #f5f5f5;
    color: #888888;
}

.check-enable .enable-icon {
    margin: 20px 0 0 216px;
    background-image: url(../image/check_enable.svg);
    height: 24px;
    width: 24px;
}

.check-disable .disable-icon {
    margin: 20px 0 0 216px;
    background-image: url(../image/check_disable.svg);
    height: 24px;
    width: 24px;
}

.check-disable .check-title{
    margin-top: 30px;
}

.check-title {
    font-size: 18px;
    font-weight: bold;
    margin-left: 24px;
    line-height: 30px;
}

.check-content {
    font-size: 14px;
    margin: 9px 0 0 24px;
    line-height: 23px;
}

.check-disable .check-title {
    color: #333333;
}

.header {
    border-bottom: 1px solid #DDDDDD;
}

.header-container {
    position: relative;
    width: 1200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.header .ds-logo {
    position: absolute;
    background-image: url(../image/logo-dynamsoft-160x40.svg);
    left: 37px;
    top: 15px;
    width: 120px;
    height: 30px;
}

.header .sy-name {
    position: absolute;
    font: 16px bold;
    left: 176px;
    top: 23px;
    color: #323232;
}

.left-bar{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 240px;
    height: 100%;
    background: #ffffff;
}

.left-bar {
}

.main {
    position: absolute;
    top: 61px;
    bottom: 0px;
    width: 100%;
    background: #F5F5F5;
}

.main-container {
    position: relative;
    width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.left-bar .linkImage {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 16px;
    background-image: url(../image/testIcon.svg);
}

.left-bar a:link {
    text-decoration: none;
    color: #606060;
}

.left-bar a:visited {
    color: #606060;
}

.left-bar a:hover {
    color: #ffae38;
}

.left-bar a:active {
    color: #ffae38;
}

.left-bar ul .lb-title {
    position: relative;
    font-size: 14px;
    margin: 50px 0 24px 38px;
}

.left-bar ul li {
    position: relative;
    font-size: 14px;
    margin: 0 0 20px 38px;
}

.basic-main {
    position: relative;
    display: inline-block;
    width: 960px;
    background: #F5F5F5;
}

.bm-header {
    height: 70px;
    width: 960px;
    font: 22px bold;
    background: #fafafa;
    border: 1px solid #DDDDDD;
}

.bm-header .bm-title {
    margin-left: 32px;
    line-height: 70px;
    color: #323232;
}

.bm-content {
    position: relative;
    margin: 32px 0 0 32px;
    width: 896px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    background: #FFFFFF;
}

.license-overview-count {
    height: 70px;
    border-bottom: 1px solid #DDDDDD;
    font: 16px bold;
    color: #323232;
    line-height: 70px;
}

.license-overview-form {
    margin: 15px 20px 0 20px;
    width: 856px;
}

.page-control {
    height: 75px;
    line-height: 70px;
    font-size: 14px;
}

.page-control .pc-page {
    margin-left: 640px;
    height: 30px;
    width: 60px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    color: #333333;
    text-align: center;
}

.page-control .pc-page::placeholder {
    color: #dddddd;
}

.page-control .pc-page::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.page-control .pc-go {
    height: 30px;
    width: 30px;
    color: #333333;
    background: #eeeeee;
    border-radius: 3px;
    border: 1px solid #dddddd;
    font-size: 14px;
}

.page-control .pc-back {
    position: relative;
    vertical-align: middle;
    margin: 0 8px 0 30px;
    height: 25px;
    width: 25px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    background: #ffffff;
}

.page-control .pc-back:after {
    position: absolute;
    top: 6px;
    right: 9px;
    content: '';
    border: 6px solid transparent;
    border-right-color: #444444;
}

.page-control .pc-next {
    position: relative;
    vertical-align: middle;
    margin-left: 8px;
    height: 25px;
    width: 25px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    background: #ffffff;
}

.page-control .pc-next:after {
    position: absolute;
    top: 6px;
    right: 2px;
    content: '';
    border: 6px solid transparent;
    border-left-color: #444444;
}

.page-control .pc-page-current {
    color: #ffae38;
}

.page-control .pc-page-divide {
    color: #999999;
}

.register-devices-count {
    height: 70px;
    border-bottom: 1px solid #DDDDDD;
    font: 16px bold;
    color: #323232;
    line-height: 70px;
}

.rd-filter {
    margin: 0 10px 0 215px;
    font-size: 14px;
}

.rd-product {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    vertical-align: top;
    padding: 0 10px;
    width: 225px;
    font-size: 13px;
    border-radius: 4px;
    border: 1px solid #dddddd;
    background: #EEEEEE;
    color: #888888;
    line-height: 30px;
}

.rd-drop-button {
    height: 30px;
}

.rd-drop-button {
    position: relative;
    text-align: start;
}

.rd-drop-button:after {
    position: absolute;
    top: 13px;
    right: 3px;
    width: 0;
    height: 0;
    content: '';
    border: 6px solid transparent;
    border-top-color: #606060;
}

.rd-drop-list {
    display: none;
    background: #EEEEEE;
}

.rd-drop-list li {
    border-top: 1px solid #CCCCCC;
    height: 30px;
}

.rd-drop-list li:hover {
    background: #BBBBBB;
}

.rd-product:hover .rd-drop-list {
    display: block;
}

.rd-product:hover .rd-drop-button:after {
    top: 5px;
    border: 6px solid transparent;
    border-bottom-color: #606060;
}

.register-devices-form {
    margin: 15px 20px 0 20px;
    width: 856px;
}

.ml-note {
    height: 70px;
    font: 18px bold;
    color: #323232;
    padding: 30px 0 10px 0;
}

.ml-license-select {
    margin-left: 20px;
    padding: 8px 0 8px 20px;
    width: 495px;
    height: 35px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    font-size: 14px;
    color: #999999;
}

.ml-drop-list {
    display: none;
}

.ml-card {
    margin: 20px 0 0 20px;
    width: 495px;
    height: 95px;
}

.ml-key {
    padding: 16px 0 8px 19px;
}

.ml-date {
    padding: 8px 0 8px 19px;

}

.ml-type {
    padding: 8px 0 16px 19px;
}

.ml-unbind {
    margin: 40px 0 0 20px;
    padding-bottom: 30px;
}

.ml-unbind-bulb {
    display: inline-block;
    vertical-align: middle;
    background-image: url(../image/lightbulb.svg);
    width: 20px;
    height: 20px;
    margin: 0 9px 0 15px;
}

.ml-unbind-note {
    display: inline-block;
    vertical-align: middle;
    color: #888888;
    font-size: 14px;
}

#log .bm-content {
    height: 530px;
}

.log-display {
    height: 430px;
    border-bottom: 1px solid #DDDDDD;
}

.log-display-content {
    position: relative;
    width: 200px;
    margin: auto;
    top: 50%;
    color: #CCCCCC;
    font-size: 18px;
}

.log-control {
    height: 96px;
}

.log-export-path {
    margin: 30px 0 0 30px;
    height: 35px;
    width: 320px;
    border-radius: 3px;
    border: 1px solid #DDDDDD;
    padding-left: 18px;
    color: #999999;
    font-size: 14px;
}

#LogChoosePath {
    margin: 0 16px 0 8px;
}

#Network .bm-content {
    height: 380px;
}

.net-proxy {
    height: 70px;
    border-bottom: 1px solid #DDDDDD;
    line-height: 70px;
}

.net-proxy-btn {
    display: inline-block;
    margin-left: 580px;
}

.net-information {
    padding: 15px 0 0 60px;
}

.net-information input {
    width: 324px;
}

.net-submit {
    padding: 24px 0 0 179px;
}

.net-submit .white-btn {
    margin-right: 30px;
    width: 170px;
}

.net-submit .yellow-btn {
    width: 120px;
}

.sn-central {
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #DDDDDD;
}

.sn-central-btn {
    display: inline-block;
    margin-left: 580px;
}

.snc-info {
    display: inline-block;
    margin: 15px 0 15px 60px;
}

.snc-info span {
    width: 110px;
}

.snc-info input {
    width: 320px;
}

.snc-notice {
    display: inline-block;
    vertical-align: top;
    margin: 30px 0 0 30px;
    height: 140px;
    width: 335px;
}

.snc-notice .paragraph{
    height: 108px;
    width: 272px;
}

.snc-notice span {
    display: inline-block;
}

.snc-submit {
    padding: 15px 0 30px 174px;
}

.snc-submit .white-btn {
    width: 170px;
}

.snc-submit .yellow-btn {
    margin-left: 26px;
    width: 120px;
}

.sn-child {
    height: 60px;
    padding-top: 30px;
}

.snh-form {
    padding: 0 20px;
}

.alh-note {
    padding: 30px 0 40px 0;
}

.alh-check {
    margin-left: 20px;
}

.alh-check .check-disable {
    margin-left: 50px;
}

.alh-license {
    margin-left: 20px;
}

.alh-license-title{
    margin-top: 40px;
    font-size: 16px;
    color: #606060;
}

.alh-license-input{
    display: inline-block;
    margin-top: 15px;
    height: 36px;
    width: 506px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    padding: 18px;
}

.alh-license .yellow-btn{
    display: inline-block;
    vertical-align: top;
    margin: 16px 0 0 20px;
}

.alh-notice .alh-notice{
    width: 506px;
}

.alh-notice .card{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 506px;
    height: 64px;
}












