.white-btn {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #aaaaaa;
    border-radius: 3px;
    padding: 9px 25px;
    background: #ffffff;
    color: #444444;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.yellow-btn {
    display: inline-block;
    vertical-align: middle;
    height: 36px;
    border: 1px solid #ffae38;
    border-radius: 3px;
    padding: 10px 25px;
    background: #ffae38;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.title-note {
    margin-left: 20px;
    font-size: 18px;
    color: #323232;
}

.form {
    width: 100%;
}

.form td {
    height: 51px;
    font-size: 14px;
    color: #444444;
    border-bottom: 1px solid #d9d9d9;
    padding: 18px 0;
    text-align: left;
}

.form-head td {
    height: 40px;
    padding-bottom: 10px;
    color: #888888;
}

.card {
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    font-size: 14px;
    color: #888888;
    background: #f5f5f5;
}

.notice-bulb {
    display: inline-block;
    margin: 12px 0 0 12px;
    background-image: url(../image/lightbulb.svg);
    height: 20px;
    width: 20px;
}

.card .paragraph {
    display: inline-block;
    vertical-align: top;
    margin: 12px 0 0 10px;
    line-height: 20px;
}

.info {
    padding-top: 15px;
}

.info span {
    display: inline-block;
    width: 115px;
    font-size: 16px;
    color: #606060;
}

.info input {
    padding: 8px 0 8px 18px;
    border-radius: 3px;
    border: 1px solid #DDDDDD;
    color: #999999;
    font-size: 14px;
}

.check-enable {
    display: inline-block;
    vertical-align: top;
    height: 210px;
    width: 260px;
    border-radius: 8px;
    background: #ecf6ff;
    color: #258EFB;
}

.check-disable {
    display: inline-block;
    vertical-align: top;
    height: 210px;
    width: 260px;
    border-radius: 8px;
    background: #f5f5f5;
    color: #888888;
}

.check-enable .enable-icon {
    margin: 20px 0 0 216px;
    background-image: url(../image/check_enable.svg);
    height: 24px;
    width: 24px;
}

.check-disable .disable-icon {
    margin: 20px 0 0 216px;
    background-image: url(../image/check_disable.svg);
    height: 24px;
    width: 24px;
}

.check-title {
    font-size: 18px;
    font-weight: bold;
    margin-left: 24px;
    line-height: 30px;
}

.check-disable .check-title{
    color: #333333;
}

.check-content {
    font-size: 14px;
    margin: 9px 0 0 24px;
    line-height: 23px;
}

.sign{
    width: 26px;
    height:26px;
    text-align: center;
    line-height: 26px;
    background: #E0E5EA;
    color: #606060;
    border-radius: 50%;
}


.drop {
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    background: #EEEEEE;
    color: #888888;
    line-height: 30px;
    cursor: pointer;
    text-indent: 8px;
    box-shadow: 1px 2px 5px -2px #999999;
}

.drop-button {
    position: relative;
}

.drop-button:after {
    position: absolute;
    top: 13px;
    right: 8px;
    content: '';
    border: 6px solid transparent;
    border-top-color: #606060;
}

.d-button{
    position: relative;
}

.d-button:after{
    position: absolute;
    top: 5px;
    right: 8px;
    content: '';
    border: 6px solid transparent;
    border-bottom-color: #606060;
}

.drop-list {
    display: none;
    background: #EEEEEE;
}

.drop-list li:hover {
    background: #CCCCCC;
}

#Header {
    height: 60px;
    border-bottom: 1px solid #DDDDDD;
}

.header-container {
    width: 1200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}
.ds-logo {
    display: inline-block;
    background-image: url(../image/logo-dynamsoft-160x40.svg);
    margin: 15px 10px 0  37px;
    width: 120px;
    height: 30px;
}

.sy-name {
    display: inline-block;
    vertical-align: top;
    margin-top: 26px;
    font-size: 18px;
    font-weight: bold;
    color: #323232;
}

.left-bar{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 240px;
    background: #ffffff;
    border: 1px solid #DDDDDD;
    border-top: 0;
}

.main {
    position: relative;
    bottom: 0px;
    /*background: #F5F5F5;*/
    background: #333333 ;
}

.main-container {
    position: relative;
    width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #555555;
}

.left-bar .linkImage {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 16px;
    background-image: url(../image/IconBlack.svg);
}

.left-bar a span{
    display: inline-block;
    vertical-align: text-top;
}

.left-bar a:link {
    text-decoration: none;
    color: #606060;
}

.left-bar a:link .linkImage{
    background-image: url(../image/IconBlack.svg);
}

.left-bar a:visited {
    color: #606060;
}

.left-bar a:visited .linkImage{
    background-image: url(../image/IconBlack.svg);
}

.left-bar a:hover {
    color: #ffae38;
}

.left-bar a:hover .linkImage{
    background-image: url(../image/IconYellow.svg);
}

.left-bar a:active {
    color: #ffae38;
}

.left-bar a:active .linkImage{
    background-image: url(../image/IconYellow.svg);
}

.left-bar ul .lb-title {
    position: relative;
    font: 15px bold;
    margin: 50px 0 24px 38px;
}

.left-bar ul li {
    position: relative;
    font-size: 15px;
    margin: 0 0 20px 38px;
}

.basic-main {
    position: relative;
    display: inline-block;
    width: 960px;
    background: #F5F5F5;
}

.bm-header {
    height: 70px;
    width: 960px;
    font: 22px bold;
    background: #fafafa;
    border: 1px solid #DDDDDD;
    border-top: 0;
    border-left: 0;
}

.bm-header .bm-title {
    margin-left: 32px;
    line-height: 70px;
    color: #323232;
}

.bm-content {
    position: relative;
    margin: 32px 0 0 32px;
    width: 896px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    background: #FFFFFF;
}

.license-overview-count {
    height: 70px;
    border-bottom: 1px solid #DDDDDD;
    font: 16px bold;
    color: #323232;
    line-height: 70px;
}

.license-overview-form {
    margin: 15px 20px 0 20px;
    width: 856px;
}

.page-control {
    height: 75px;
    line-height: 70px;
    font-size: 14px;
}

.page-control .pc-page {
    margin-left: 640px;
    height: 30px;
    width: 60px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    color: #333333;
    text-align: center;
}

.page-control .pc-page::placeholder {
    color: #dddddd;
}

.page-control .pc-page::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.page-control .pc-go {
    height: 30px;
    width: 30px;
    color: #333333;
    background: #eeeeee;
    border-radius: 3px;
    border: 1px solid #dddddd;
    font-size: 14px;
    cursor: pointer;
}

.page-control .pc-back {
    position: relative;
    vertical-align: middle;
    margin: 0 8px 0 30px;
    height: 25px;
    width: 25px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    background: #ffffff;
    cursor: pointer;
}

.page-control .pc-back:after {
    position: absolute;
    top: 6px;
    right: 9px;
    content: '';
    border: 6px solid transparent;
    border-right-color: #444444;
}

.page-control .pc-next {
    position: relative;
    vertical-align: middle;
    margin-left: 8px;
    height: 25px;
    width: 25px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    background: #ffffff;
    cursor: pointer;
}

.page-control .pc-next:after {
    position: absolute;
    top: 6px;
    right: 2px;
    content: '';
    border: 6px solid transparent;
    border-left-color: #444444;
}

.page-control .pc-page-current {
    color: #ffae38;
}

.page-control .pc-page-divide {
    color: #999999;
}

.register-devices-count {
    height: 70px;
    border-bottom: 1px solid #DDDDDD;
    font: 16px bold;
    color: #323232;
    line-height: 70px;
}

.rd-filter {
    margin: 0 10px 0 215px;
    font-size: 14px;
}

.rd-product{
    display: inline-block;
    position: relative;
    margin-top: 20px;
    vertical-align: top;
    width: 225px;
}

.register-devices-form {
    margin: 15px 20px 0 20px;
    width: 856px;
}

.ml-note {
    height: 70px;
    font: 18px bold;
    color: #323232;
    padding: 30px 0 10px 0;
}

.ml-license-select {
    position: relative;
    margin-left: 20px;
    width: 495px;
    height: 35px;
}

.ml-license-select .drop{
    text-indent: 20px;
}

.ml-card {
    margin: 20px 0 0 20px;
    width: 495px;
    height: 95px;
}

.ml-key {
    padding: 16px 0 8px 19px;
}

.ml-date {
    padding: 8px 0 8px 19px;
}

.ml-type {
    padding: 8px 0 16px 19px;
}

.ml-unbind {
    margin: 40px 0 0 20px;
    padding-bottom: 30px;
}

.ml-unbind-bulb {
    display: inline-block;
    vertical-align: middle;
    background-image: url(../image/lightbulb.svg);
    width: 20px;
    height: 20px;
    margin: 0 9px 0 15px;
}

.ml-unbind-note {
    display: inline-block;
    vertical-align: middle;
    color: #888888;
    font-size: 14px;
}

#log .bm-content {
    height: 530px;
}

.log-display {
    height: 430px;
    border-bottom: 1px solid #DDDDDD;
}

.log-display-content {
    position: relative;
    width: 200px;
    margin: auto;
    top: 50%;
    color: #CCCCCC;
    font-size: 18px;
}

.log-control {
    height: 96px;
}

.log-export-path {
    margin: 30px 0 0 30px;
    height: 35px;
    width: 320px;
    border-radius: 3px;
    border: 1px solid #DDDDDD;
    padding-left: 18px;
    color: #999999;
    font-size: 14px;
}

#LogChoosePath {
    margin: 0 16px 0 8px;
}

#Network .bm-content {
    height: 380px;
}

.net-proxy {
    height: 70px;
    border-bottom: 1px solid #DDDDDD;
    line-height: 70px;
}

.net-proxy-btn {
    display: inline-block;
    margin-left: 580px;
}

.net-information {
    padding: 15px 0 0 60px;
}

.net-information input {
    width: 324px;
}

.net-submit {
    padding: 25px 0 30px 179px;
}

.net-submit .white-btn {
    margin-right: 30px;
    width: 170px;
}

.net-submit .yellow-btn {
    width: 120px;
}

.sn-central {
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #DDDDDD;
}

.sn-central-btn {
    display: inline-block;
    margin-left: 580px;
}

.snc-info {
    display: inline-block;
    margin: 15px 0 15px 60px;
}

.snc-info span {
    width: 110px;
}

.snc-info input {
    width: 320px;
}

.snc-notice {
    display: inline-block;
    vertical-align: top;
    margin: 30px 0 0 30px;
    height: 140px;
    width: 335px;
}

.snc-notice .paragraph{
    height: 108px;
    width: 272px;
}

.snc-notice span {
    display: inline-block;
}

.snc-submit {
    padding: 15px 0 30px 174px;
}

.snc-submit .white-btn {
    width: 170px;
}

.snc-submit .yellow-btn {
    margin-left: 26px;
    width: 120px;
}

.sn-child {
    height: 60px;
    padding-top: 30px;
}

.snh-form {
    padding: 0 20px;
}

.alh-note {
    padding: 30px 0 40px 0;
}

.alh-check {
    margin-left: 20px;
}

.alh-check .check-disable {
    margin-left: 50px;
}

.alh-check .check-disable .check-title {
    margin-top: 30px;
}

.alh-license {
    margin-left: 20px;
}

.alh-license-title{
    margin-top: 40px;
    font-size: 16px;
    color: #606060;
}

.alh-license-input{
    display: inline-block;
    margin-top: 15px;
    height: 36px;
    width: 506px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    padding: 18px;
}

.alh-license .yellow-btn{
    display: inline-block;
    vertical-align: top;
    margin: 16px 0 0 20px;
}

.alh-notice .alh-notice{
    width: 506px;
}

.alh-notice .card{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 506px;
    height: 64px;
}

.alp-note{
    padding: 30px 0 40px 0;
}

.alp-check{
    margin-left: 20px;
}

.alp-check .check-enable{
    margin-left: 50px;
}

.alp-check .check-enable .check-title{
    margin-top: 30px;
}

.alp-generate{
    font-size: 16px;
    color: #606060;
}

.alp-strong{
    font-weight: bold;
}

.alp-generate input{
    width: 321px;
    height: 34px;
    margin-left: 5px;
    padding: 0 15px;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.alp-generate1 {
    margin: 40px 0 0 20px;
}

.alp-generate1 .sign {
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
}

.alp-key-input{
    margin: 12px 0 0 68px;
}

.alp-mac-input{
    margin: 12px 0 0 68px;
}

.alp-generate2{
    margin: 28px 0 0 20px;
}

.alp-generate2 .sign {
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
}

.alp-generate button{
    margin: 16px 0 30px 68px;
}













